/* Sidebar Styles */
#sidebar {
    position: fixed;
    top: 56px; 
    left: 0;
    width: 250px;
    height: 100%;
    /* transform: translateX(-250px); 
    transition: transform 0.3s ease-in-out; */
  }
  
  #sidebar.active {
    transform: translateX(0); 
  
  .nav-link.active-link {
    background-color: #6c757d;
  }
  

  .content-container {
    margin-left: 250px;
    padding: 20px;
  }
  
  .content {
    min-height: 100vh;
  }
  
 
  .sidebar-toggle-btn {
    display: none;
  }

  @media (max-width: 768px) {
    #sidebar {
      width: 100%;
    }
  
    .content-container {
      margin-left: 0;
    }
  
    .sidebar-toggle-btn {
      display: block; 
    }
  
    .content {
      margin-left: 0;
    }
  }
}
  

/* Remove hover and click effect on the button */
.no-hover-click-effect {
  background-color: #2798c5;
  color: white;
  border: none;
  outline: none;
}

/* Remove hover effect on the button */
.no-hover-click-effect:hover {
  background-color: #2798c5; /* Keep the same color when hovering */
  color: white; /* Ensure text color stays the same */
}

/* Remove active (clicking) effect */
.no-hover-click-effect:active {
  background-color: #2798c5; /* Keep the same color when clicking */
  color: white; /* Ensure text color stays the same */
  box-shadow: none; /* Remove the "pressed" effect */
}

/* Optional: If you want to remove the effect on the dropdown menu items as well */
.dropdown-item:hover {
  background-color: transparent; /* No background change on hover */
}
